@using Microsoft.AspNetCore.Identity;
@using SF.PJ_03.SocialNetwork.Models.Users;
@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;

<div class="righ-align">
    @if (SignInManager.IsSignedIn(User))
    {
        <form method="post" asp-controller="AccountManager" asp-action="Logout">
            <input class="enter_submit righ-align" type="submit" value="Выход" />
        </form>
    }
</div>