<div class="search-container">
    <form asp-area="" asp-controller="AccountManager" method="get" asp-action="">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Поиск" name="search"/>
    </form>
</div>
